* {
    margin: 0;
    padding: 0;
}

.container {
  display: grid;
  grid-template-columns: minmax(150px, 2fr) minmax(70px, 1fr); 
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas:
      "header header"
      "main aside"
      "footer footer";
  gap: 0.2px;
  max-width: 840px;  
  width: 100%;
  height: 100vh;
  margin: 0 auto;   
}

  .container > div.header {
    grid-area: header;
    background-color: #383636;
    color: #fff;
    display: grid;
    grid-template-rows: 2fr 1fr;

  }

  .container > div.main {
    grid-area: main;
    background-color: #c7c5c5;
    color: inherit;
    padding: 10px;
  }

  .container > div.aside {
    grid-area: aside;
    padding: 10px;
  }

  .container > div.footer {
    grid-area: footer;
    text-align: center;
    color: #fff;
    background-color: #383636;
    padding: 10px;
  }

div.header p {
    padding: 10px;
}

div.nav ul{
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #000;
    font-size: small;
  }