body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}


#menu {
    font-size: 2.5em;
    background: none;
    border: none;
    color: #FFC107;
    display: inline-block;
    cursor: pointer;
}


#nav-list {
    padding: 0;
    background-color: #4CAF50;
    width: 100%;
    text-align: center;
    list-style-type: none;
}


#nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 10px;
}

#nav-list a:hover {
    color: #FFC107;
    text-decoration: underline;
}

#nav-list.hidden {
    display: none;
}

main {
    padding: 20px;
    text-align: center;
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

figure {
    margin: 0;
    border: 2px solid #eee;
    border-radius: 8px;
    overflow: hidden;
}

figure:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #4CAF50;
}

figcaption {
    font-size: 1.2em;
    background-color: #f7f7f7;
    padding: 10px;
    font-family: 'Merriweather', serif;
    color: #4CAF50;
}

footer {
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #FFC107;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

